# https://blog.gitbutler.com/how-git-core-devs-configure-git/
# https://gist.github.com/mwhite/6887990
# https://stackoverflow.com/a/9074343

[user]
	email = kipling.i.liu@gmail.com
	name = Kipling Liu
[core]
	autocrlf = true
[credential]
	helper = manager
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = master
[diff]
	algorithm = histogram
	colorMoved = true
[push]
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[rerere]
	enabled = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[alias]
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	di = diff
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	rb = rebase
	st = status -s
	oops = commit -a --amend --no-edit
